<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <img class="mongoose-flights-icon" src="/images/mongoose-flights-icon.png">
    <h1><%= title %></h1>
    <nav class="site-nav">
      <a href="/flights">All Flights</a>
      <a href="/flights/new">Add Flights</a>
    </nav>
    <p>Welcome to <%= title %></p>
  </body>
</html>
