<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css'>
  </head>
  <body>
    <section class="home-flex-column">
      <img class="mongoose-flights-icon-l" src="/images/mongoose-flights-icon.png">
      <h1><%= title %></h1>
      <nav class="home-nav">
        <a href="/flights">All Flights</a>
        <a href="/flights/new">Add Flight</a>
      </nav>
      <p>Welcome to <%= title %></p>
    </section>
  </body>
</html>
