body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #2A251C;
}

main {
  background-color: #FBD469;
  margin: -60px auto;
  border-left: solid 5px #DFC7B6;
  border-right: solid 5px #DFC7B6;
}

.background-div {
  background-color: #FBD469;
  height: 100vh;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 2.5rem;
  color: #1E0301;
}

h2 {
  color: #1E0301;
  grid-column: 1;
  grid-row: 1;
}

h5 {
  text-align: center;
}

.partial-h1 {
  font-size: 2rem;
  text-align: center;
}

header {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 150px;
  padding: 15px 0 0 30px;
  margin-bottom: -15px;
}

a {
  color: #DFC7B6;
  padding-right: 1rem;
  text-decoration: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1rem;
}

a:hover {
  /* color: black; */
  display: inline-block;
  transform: rotate(-10deg);
}

.nav-bar > a.active {
  display: inline;
  color: black;
}

header > a {
  padding-right: .5rem;
}

header > a:hover {
  display: inline-block;
  transform: rotate(0);
}

button, .add-ticket {
  background-color: #804D43;
  color: #DFC7B6;
  font: 10px "Lucida Grande", Helvetica, Arial, sans-serif;
  border-radius: 5px;
  border: solid 2px #DFC7B6;
  text-align: center;
}

.home-flex-column {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  background-color: #FBD469;
  height: 100vh;
  margin: -60px auto;
  padding-top: 100px;
  width: 60%;
  border-left: solid 5px #DFC7B6;
  border-right: solid 5px #DFC7B6;
}

.page-flex-column, .show-destinations, .show-tickets {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FBD469;
  margin: 0 auto;
  width: 60%;
}

.show-tickets {
  width: 40%;
}

.mongoose-flights-icon-l {
  margin-bottom: -2rem;
  height: 250px;
  width: auto;
}

.mongoose-flights-icon-s {
  height: 100px;
  width: auto;
}

.home-nav {
  display: flex;
  background-color: #804D43;
  padding: .5rem 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-top: solid 5px #DFC7B6;
  border-bottom: solid 5px #DFC7B6;
  border-left: solid 5px #2A251C;
  border-right: solid 5px #2A251C;
}

.partial-nav {
  display: flex;
  background-color: #804D43;
  padding: .5rem 0;
  justify-content: left;
  align-items: center;
  width: 100%;
  margin-left: -5px;
  margin-bottom: 1rem;
  border-top: solid 5px #DFC7B6;
  border-bottom: solid 5px #DFC7B6;
  border-left: solid 5px #2A251C;
  border-right: solid 5px #2A251C;
}
.nav-bar {
  margin-left: 1rem;
}

table {
  margin: 0 auto;
  width: 70%;
}

tbody {
  font-size: 1rem;
}

.td-number {
  text-align: left;
}

.td-airline, .td-airport {
  text-align: center;
}

.td-departure {
  text-align: right;
}

.details-link {
  border: solid 2px #DFC7B6;
  background-color: #804D43;
  /* border-radius: 10px; */
  padding: 0 .25rem;
  margin-left: .5rem;
  font-size: .65rem;
  text-align: center;
}

.new-form, #new-ticket-form {
  display: grid;
  grid-template-columns: repeat(2, minmax(auto, 22rem));
  /* grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr; */
  grid-gap: 1rem;
  width: 70%;
  margin: 0 auto;
}

#new-ticket-form {
  width: 30%;
}

.new-airline {
  grid-column: 1;
  /* grid-row: 1; */
  justify-self: left;
  align-self: center;
}

.new-input-airline {
  grid-column: span 2;
  /* grid-row: 1; */
  justify-self: right;
  align-self: center;
}

.new-number {
  grid-column: 1;
  /* grid-row: 2; */
  justify-self: left;
  align-self: center;
}

.new-input-number {
  grid-column: span 2;
  /* grid-row: 2; */
  justify-self: right;
  align-self: center;
}

.new-airport {
  grid-column: 1;
  /* grid-row: 2; */
  justify-self: left;
  align-self: center;
}

.new-input-airport {
  grid-column: span 2;
  /* grid-row: 2; */
  justify-self: right;
  align-self: center;
}

.new-departure {
  grid-column: 1;
  /* grid-row: 3; */
  justify-self: left;
  align-self: center;
}

.new-input-departure {
  grid-column: span 2;
  /* grid-row: 3; */
  justify-self: right;
  align-self: center;
}

.new-button {
  grid-column: 1;
  /* grid-row: 4; */
  justify-self: left;
  align-self: center;
}

#show-page {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
  width: 50%;
  margin: 0 auto;
  font-size: 1rem;
}

.add-ticket {
  margin: 0 auto;
  padding: .1rem .25rem;
}

.add-ticket:hover {
  transform: rotate(0);
}

.tickets-table {
  text-align: center;
}